[init]
	defaultBranch = main
[user]
	name = Migue Magic
	email = miguelitoeremenko@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMd1mJKQGyM5neeah+DhUcjtJ5EUYZ5leT7ALE8hYYSu
[core]
	editor = nvim
	abbrev = 12
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/migue/.ssh/allowed_signers
	program = ssh-keygen
